body {
    background-color: lightblue;
  }
  table, th, td {
    border-collapse: collapse;
    border: 1px solid rgb(14, 13, 13);
  }
  td:nth-child(even), th:nth-child(even){
    background-color: #eed6e4;
  }
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
  .check{
    width: 20px;
    height: 20px;
  }
  .min{
    width: 20px;
    height: 20px;
  }
  .task{
    width:95%;
  }
  