<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="main.js"></script>
</head>

<body>
    <h1 class="center">Daily Planner</h1>
    <div class="date-wrapper">
        <p>Date: <%=date%></p>
    </div>

    <div class="container">
        <div class="goal-column">
            <label for="goal">Goal:</label>
            <textarea name="Goal" id="goal" rows="4" cols="50"></textarea>
        </div>
        <div class="time-column">
            <label for="time">Time:</label>
            <input type="text" id="time" name="time">
            <label for="session">Session:</label>
            <input type="text" id="session" name="session">
        </div>
    </div>

</body>

</html>