body {
    background-image:linear-gradient(rgba(255, 251, 251, 0),rgba(255, 251, 251, 0.379)) ,url('/img/sky.png');
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    margin: 0;
    padding: 0;
  }

table,th,td {
    border-collapse: collapse;
    border: 1px solid rgb(34, 20, 95);
}

table {
    width: 100%;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

#taskHead {
    width: 60%;
}

#checkHead {
    width: 5%;
}

#hourHead {
    width: 5%;
}

#minuteHead {
    width: 20%;
}

.check {
    width: 20px;
    height: 20px;
}

.minute {
    width: 20px;
    height: 20px;
}

.task {
    width: 95%;
}

.center {
    text-align: center;
}

.button-wrapper {
    text-align: right;
    margin-top: 5px;
}

.date-wrapper {
    text-align: right;
    margin-bottom: 10px;
}

.date-wrapper label {
    font-weight: bold;
    margin-right: 10px;
}

.date-wrapper input {
    text-align: left;
}

.container2 {
    display: flex;
}

.time-column {
    flex: 20;
    padding: 10px;
    border: 1px solid rgb(34, 20, 95);
    margin-left: 5px;
    margin-bottom: 10px;
}

.time-column input[type=text] {
    width: 100%;
    box-sizing: border-box;
}

.goal-column {
    flex: 80;
    padding: 10px;
    border: 1px solid rgb(34, 20, 95);
    margin-right: 5px;
    margin-bottom: 10px;
}

.goal-column textarea {
    width: 100%;
    height: 62%;
    resize: none;
}

h1{
  color: rgb(8, 8, 79);
}

#tasktable{
  color: rgb(13, 13, 112);
}

.button{
  color: rgb(18, 18, 108);
  background-color: rgb(214, 244, 255);
  border-color:rgb(202, 227, 236) ;
}